@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('inter-ui/web/Inter-ExtraLight.woff2?v=4.0') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('inter-ui/web/Inter-ExtraLightItalic.woff2?v=4.0') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('inter-ui/web/Inter-Regular.woff2?v=4.0') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('inter-ui/web/Inter-Italic.woff2?v=4.0') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('inter-ui/web/Inter-SemiBold.woff2?v=4.0') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('inter-ui/web/Inter-ExtraBold.woff2?v=4.0') format('woff2');
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('inter-ui/variable/InterVariable.woff2') format('woff2');
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('inter-ui/variable/InterVariable-Italic.woff2') format('woff2');
}

:root {
  color-scheme: light dark;

  --color-background-light: #ffffff; /* White */
  --color-dimmed-light: rgb(245 245 244); /* bg-stone-100 */
  --color-primary-light: rgb(10 10 10); /* bg-neutral-900 */
  --color-secondary-light: rgb(23 23 23); /* bg-neutral-900 */

  --color-background-dark: #191e23; /* Dark Gray 900 */
  --color-dimmed-dark: #23282d; /* Dark Gray 800 */
  --color-primary-dark: #fbfbfc; /* Light Gray 100 */
  --color-secondary-dark: #ccd0d4; /* Light Gray 700 */
  --color-accent-dark: #00a0d2; /* Medium Blue */

  --color-background: var(--color-background-light);
  --color-dimmed: var(--color-dimmed-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-accent: var(--color-accent-light);

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --scale--2: clamp(0.6944rem, 0.6856rem + 0.0444vw, 0.72rem);
  --scale--1: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
  --scale-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --scale-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --scale-2: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
  --scale-3: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
  --scale-4: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
  --scale-5: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);
  --scale-6: clamp(2.986rem, 2.5319rem + 2.2705vw, 4.2915rem);

  --space--2: 0.2em;
  --space--1: 0.6em;
  --space-0: 1em;
  --space-1: 1.4em;
  --space-2: 1.8em;
  --space-3: 2.2em;

  --max-column: 20rem;
}

html {
  font-family: 'Inter', 'system-ui';
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'InterVariable', 'system-ui';
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-dimmed: var(--color-dimmed-dark);
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-accent: var(--color-accent-dark);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block: 0;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  display: grid;
  gap: 4em;
  grid-template-columns:
    [full-start]
    1fr
    [content-start]
    minmax(min-content, 60em)
    [content-end]
    1fr
    [full-end];
  grid-template-rows: auto [work-start] auto [work-end projects-start] auto [projects-end];
  grid-auto-flow: dense;
  margin-bottom: 20vw;
}

body::before {
  content: '';
  grid-column: full;
  grid-row: content;
}

ol,
ul {
  padding-left: var(--space-0);
}

li + li {
  margin-top: var(--space--2);
}

li::marker,
.network {
  color: var(--color-secondary);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 800;
  font-size: var(--scale-5);
  line-height: 1;
}

h2 {
  color: var(--color-secondary);
  font-size: var(--scale-2);
  font-weight: 400;
}

h1 + h2 {
  padding-top: var(--space-0);
}

h3 {
  color: var(--color-secondary);
  font-size: var(--scale-2);
  font-weight: 200;
  border-block-start: solid var(--color-secondary) 0.1rem;
}

h2,
h3 {
  line-height: 1.2;
}

h4 {
  font-size: var(--scale-2);
}

h5 {
  font-size: var(--scale-1);
  margin-block-start: var(--space-1);
}

h4,
h5 {
  font-weight: 600;
}

h6 {
  font-size: var(--scale-0);
  padding-block-start: var(--space--1);
}

article * + * {
  margin-block-start: var(--space-0);
}

blockquote {
  border-left: var(--space--2) solid var(--color-dimmed);
  padding-left: var(--space-0);
}

cite {
  color: var(--color-secondary);
  font-style: inherit;
}

cite::before {
  content: '— ';
}

svg {
  margin-right: var(--space--2);
  vertical-align: text-bottom;
}

body > * {
  grid-column: content;
}

#work {
  grid-row: work;
}

#projects {
  grid-row: projects;
}

.masthead {
  background: var(--color-dimmed);
  display: grid;
  gap: inherit;
  padding: 4em 0;
  grid-column: full;
  grid-template-columns: inherit;
  text-align: inherit;
}

@supports (grid-template-columns: subgrid) {
  .masthead {
    grid-template-columns: subgrid;
  }
}

.masthead > * {
  grid-column: content;
}

.masthead > div {
  display: grid;
}

.masthead > div > h1 {
  grid-row: 1;
  margin-block-start: 0;
}

.masthead > div > h2 {
  grid-row: 2;
  margin-block-start: 0;
}

.masthead > img {
  border: 4px solid;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 12em;
}

.masthead > * > p {
  color: var(--color-secondary);
  font-size: var(--scale-2);
  font-weight: 200;
  line-height: 1.2;
}

.meta {
  color: var(--color-secondary);
}

.meta * + * {
  margin-block-start: var(--space--2);
}
.grid-list * * + * {
  margin-block-start: var(--space-0);
}
.meta * + * {
  margin-block-start: var(--space--2);
}

.stack,
.grid-list {
  display: grid;
  gap: var(--space-3);
  margin-block-start: var(--space-2);
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space--1) var(--space-0);
  list-style: none;
  padding: 0;
}
.icon-list li {
  margin: 0;
}

.icon-list svg {
  height: var(--space-0);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space--2);
  list-style: none;
  padding: 0;
}

.tag-list > li {
  display: inline-flex;
  flex-wrap: wrap;
  background: var(--color-dimmed);
  border-radius: var(--space--1);
  padding: var(--space--2) var(--space--1);
  margin: 0;
}

@media (min-width: 45rem) {
  body {
    grid-template-columns:
      [full-start]
      1fr
      [main-start leftside-start highlights-start content-start]
      minmax(min-content, var(--max-column))
      minmax(min-content, var(--max-column))
      minmax(min-content, var(--max-column))
      [main-end highlights-end content-end rightside-start]
      minmax(min-content, var(--max-column))
      [rightside-end]
      1fr
      [full-end];
  }

  #skills {
    grid-row: work;
  }

  #projects,
  #education {
    grid-row: auto;
    grid-column: content;
  }

  #skills,
  #education,
  #languages,
  #interests,
  #references {
    grid-column: rightside;
  }

  .masthead {
    grid-column: full;
  }

  .masthead > * {
    grid-column: highlights;
  }

  .masthead img {
    grid-column: leftside;
    grid-row: span 2;
    max-width: 100%;
  }

  .icon-list {
    flex-direction: column;
    grid-column: rightside;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 65rem) {
  body {
    grid-template-columns:
      [full-start]
      1fr
      [main-start leftside-start highlights-start]
      minmax(min-content, var(--max-column))
      [leftside-end content-start]
      minmax(min-content, var(--max-column))
      minmax(min-content, var(--max-column))
      [main-end highlights-end content-end rightside-start]
      minmax(min-content, var(--max-column))
      [rightside-end]
      1fr
      [full-end];
  }
}

@media print {
  html {
    font-size: 10px;
  }

  body {
    grid-template-columns:
      [full-start]
      1fr
      [main-start leftside-start highlights-start]
      minmax(min-content, var(--max-column))
      [leftside-end content-start]
      minmax(min-content, var(--max-column))
      minmax(min-content, var(--max-column))
      [main-end highlights-end content-end rightside-start]
      minmax(min-content, var(--max-column))
      [rightside-end]
      1fr
      [full-end];
  }

  @page {
    size: A4;
    margin: 15mm 0 15mm 0;
  }

  @page :first {
    margin-top: 0;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  article {
    break-after: avoid; /* Modern browsers */
  }

  .duration {
    display: none;
  }
}
