:root {
  color-scheme: light dark;

  --color-background-light: #ffffff; /* White */
  --color-dimmed-light: rgb(245 245 244); /* bg-stone-100 */
  --color-primary-light: rgb(10 10 10); /* bg-neutral-900 */
  --color-secondary-light: rgb(23 23 23); /* bg-neutral-900 */

  --color-background-dark: #191e23; /* Dark Gray 900 */
  --color-dimmed-dark: #23282d; /* Dark Gray 800 */
  --color-primary-dark: #fbfbfc; /* Light Gray 100 */
  --color-secondary-dark: #ccd0d4; /* Light Gray 700 */
  --color-accent-dark: #00a0d2; /* Medium Blue */

  --color-background: var(--color-background-light);
  --color-dimmed: var(--color-dimmed-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-accent: var(--color-accent-light);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --scale--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --scale--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --scale-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --scale-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --scale-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --scale-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --scale-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --scale-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}

@use '~inter-ui/default' with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/web'
);

@use '~inter-ui/variable' with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/variable'
);

@include default.all;
@include variable.all;

html {
  font-family: 'Inter', 'system-ui';
  font-size: 14px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'InterVariable', 'system-ui';
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-dimmed: var(--color-dimmed-dark);
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-accent: var(--color-accent-dark);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  display: grid;
  gap: 4em;
  grid-template-columns:
    [full-start]
    1fr
    [content-start]
    minmax(min-content, 60em)
    [content-end]
    1fr
    [full-end];
  grid-template-rows: auto [work-start] auto [work-end projects-start] auto [projects-end];
  grid-auto-flow: dense;
  margin-bottom: 4em;
}

body::before {
  content: '';
  grid-column: full;
  grid-row: content;
}

ol,
ul {
  padding-left: 1em;
}

:not(.icon-list, .tag-list) > li + li {
  margin-top: 0.4em;
}

li::marker,
.network {
  color: var(--color-secondary);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 700;
}
h4,
h5 {
  font-weight: 600;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: var(--scale-5);
}

h1 + h2 {
  padding-top: var(--scale-0);
}

h2 {
  color: var(--color-secondary);
  font-size: var(--scale-2);
  font-weight: 400;
}

h3 {
  color: var(--color-secondary);
  font-size: var(--scale-2);
  font-weight: 100;
  padding-block-end: 1em;
}

h3 {
  border-block-start: solid var(--color-secondary) 0.1rem;
}

h4 {
  font-size: var(--scale-2);
  padding-block-end: 0.6em;
}

h5 {
  font-size: var(--scale-1);
}

h6 {
  font-size: var(--scale-0);
}

blockquote {
  border-left: 0.2em solid var(--color-dimmed);
  padding-left: 1em;
}

cite {
  color: var(--color-secondary);
  font-style: inherit;
}

cite::before {
  content: '— ';
}

svg {
  margin-right: 0.2em;
  vertical-align: text-bottom;
}

body > * {
  grid-column: content;
}

#work {
  grid-row: work;
}

#projects {
  grid-row: projects;
}

.masthead {
  background: var(--color-dimmed);
  display: grid;
  gap: inherit;
  padding: 4em 0;
  grid-column: full;
  grid-template-columns: inherit;
  text-align: inherit;
}

@supports (grid-template-columns: subgrid) {
  .masthead {
    grid-template-columns: subgrid;
  }
}

.masthead > * {
  grid-column: content;
}

.masthead > div {
  display: grid;
}

.masthead > div > h1 {
  grid-row: 1;
  margin-block-start: 0;
  margin-block-end: 0;
}

.masthead > div > h2 {
  grid-row: 2;
  margin-block-start: 0;
  margin-block-end: 0;
}

.masthead > img {
  border: 4px solid;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 12em;
}

.masthead > * > p {
  color: var(--color-secondary);
  font-size: var(--scale-2);
  font-weight: 100;
  line-height: 1.2;
}

article > * + *,
blockquote > * + *,
.timeline > div > * + * {
  margin-top: 0.6em;
}

.meta {
  color: var(--color-secondary);
  padding-block-end: 0.6em;
}

.stack {
  display: grid;
  gap: 1.5em;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em 1em;
  list-style: none;
  padding: 0;
}

.grid-list {
  display: grid;
  gap: 1em;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  list-style: none;
  padding: 0;
}

.tag-list > li {
  background: var(--color-dimmed);
  border-radius: 0.2em;
  padding: 0.2em 0.6em;
}

.timeline > div {
  position: relative;
}

.timeline > div:not(:last-child) {
  padding-bottom: 1rem;
}

.timeline > div:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: -15px;
  width: 2px;
  height: 100%;
  background: var(--color-secondary);
}

.timeline > div:not(:only-child)::after {
  content: '';
  position: absolute;
  top: 0.6rem;
  left: -20px;
  width: 8px;
  height: 8px;
  background: var(--color-secondary);
  border: 2px solid var(--color-background);
  border-radius: 50%;
}

/* Multi-column layout above breakpoint */
@media (min-width: 48em) {
  body {
    grid-template-columns:
      [full-start]
      1fr
      [main-start leftside-start highlights-start]
      minmax(min-content, 20em)
      [leftside-end content-start]
      minmax(min-content, 20em)
      minmax(min-content, 20em)
      [main-end highlights-end content-end rightside-start]
      minmax(min-content, 20em)
      [rightside-end]
      1fr
      [full-end];
    grid-template-rows: auto [work] [projects] 0;
  }

  #skills {
    grid-row: work;
  }

  #projects,
  #education {
    grid-row: auto;
    grid-column: content;
  }

  #skills,
  #education,
  #languages,
  #interests,
  #references {
    grid-column: rightside;
  }

  h3 {
    margin-bottom: inherit;
  }

  .masthead {
    grid-column: full;
  }

  .masthead > * {
    grid-column: highlights;
  }

  .masthead img {
    grid-column: leftside;
    grid-row: span 2;
    max-width: 100%;
  }

  .icon-list {
    flex-direction: column;
    grid-column: rightside;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid-list {
    grid-template-columns: 1fr;
  }
}

@media print {
  .duration {
    display: none;
  }
}
