:root {
  color-scheme: light dark;

  --color-background-light: #ffffff; /* White */
  --color-dimmed-light: rgb(245 245 244); /* bg-stone-100 */
  --color-primary-light: rgb(10 10 10); /* bg-neutral-900 */
  --color-secondary-light: rgb(23 23 23); /* bg-neutral-900 */

  --color-background-dark: #191e23; /* Dark Gray 900 */
  --color-dimmed-dark: #23282d; /* Dark Gray 800 */
  --color-primary-dark: #fbfbfc; /* Light Gray 100 */
  --color-secondary-dark: #ccd0d4; /* Light Gray 700 */
  --color-accent-dark: #00a0d2; /* Medium Blue */

  --color-background: var(--color-background-light);
  --color-dimmed: var(--color-dimmed-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-accent: var(--color-accent-light);

  --scale-ratio: 1.25;
  --scale0: 1rem;
  --scale1: calc(var(--scale0) * var(--scale-ratio));
  --scale2: calc(var(--scale1) * var(--scale-ratio));
  --scale3: calc(var(--scale2) * var(--scale-ratio));
  --scale4: calc(var(--scale3) * var(--scale-ratio));
  --scale5: calc(var(--scale4) * var(--scale-ratio));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-dimmed: var(--color-dimmed-dark);
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-accent: var(--color-accent-dark);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  display: grid;
  font: 1em/1.5 Graphik, sans-serif;
  gap: 4em;
  grid-template-columns:
    [full-start]
    1fr
    [main-start leftside-start highlights-start]
    minmax(min-content, 20em)
    [leftside-end content-start]
    minmax(min-content, 20em)
    minmax(min-content, 20em)
    [main-end highlights-end content-end rightside-start]
    minmax(min-content, 20em)
    [rightside-end]
    1fr
    [full-end];
  grid-template-rows: auto [work] [projects] 0;
  margin-bottom: 4em;
}

body::before {
  content: '';
  grid-column: full;
  grid-row: content;
}

ol,
ul {
  padding-left: 1em;
}

:not(.icon-list, .tag-list) > li + li {
  margin-top: 0.4em;
}

li::marker,
.network {
  color: var(--color-secondary);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 700;
}
h4,
h5 {
  font-weight: 600;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: var(--scale5);
}

h2 {
  color: var(--color-secondary);
  font-size: var(--scale2);
  font-weight: 400;
}

h3 {
  color: var(--color-secondary);
  font-size: var(--scale2);
  grid-column: leftside;
  font-weight: 100;
  padding-block-end: 1em;
}

h3 {
  border-block-start: solid var(--color-secondary) 0.1rem;
}

h4 {
  font-size: var(--scale2);
  padding-block-end: 0.6em;
}

h5 {
  font-size: var(--scale1);
}

h6 {
  font-size: var(--scale0);
}

blockquote {
  border-left: 0.2em solid var(--color-dimmed);
  padding-left: 1em;
}

cite {
  color: var(--color-secondary);
  font-style: inherit;
}

cite::before {
  content: '— ';
}

svg {
  margin-right: 0.2em;
  vertical-align: text-bottom;
}

#skills,
#education,
#languages {
  grid-column: rightside;
}

#work,
#projects,
#publications {
  grid-column: content;
}

#work,
#skills {
  grid-row: work;
}

#projects,
#education {
  grid-row: auto;
}

.masthead {
  background: var(--color-dimmed);
  display: inherit;
  gap: inherit;
  grid-column: full;
  grid-template-columns: inherit;
  padding: 4em 0;
  text-align: center;
}

.masthead > * {
  grid-column: highlights;
}

.masthead > div {
  display: grid;
}

.masthead > div > h1 {
  grid-row: 1;
  margin-block-start: 0;
  margin-block-end: 0;
}

.masthead > div > h2 {
  grid-row: 2;
  margin-block-start: 0;
  margin-block-end: 0;
}

.masthead > img {
  border: 4px solid;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 12em;
}

.masthead > * > p {
  color: var(--color-secondary);
  font-size: var(--scale2);
  font-weight: 100;
  line-height: 1.2;
}

article > * + *,
blockquote > * + *,
.timeline > div > * + * {
  margin-top: 0.6em;
}

.meta {
  color: var(--color-secondary);
  padding-block-end: 0.6em;
}

.stack {
  display: grid;
  gap: 1.5em;
  grid-column: content;
}

.icon-list {
  /* border-block-start: solid var(--color-secondary) 0.2em; */
  display: flex;
  grid-column: rightside;
  grid-row-start: 1;
  grid-row-end: 2;
  flex-wrap: wrap;
  gap: 0.4em 1em;
  justify-content: center;
  list-style: none;
  padding: 0;
  /* padding-block-start: 0.2em; */
}

.grid-list {
  display: grid;
  gap: 1em;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  list-style: none;
  padding: 0;
}

.tag-list > li {
  background: var(--color-dimmed);
  border-radius: 0.2em;
  padding: 0.2em 0.6em;
}

.timeline > div {
  position: relative;
}

.timeline > div:not(:last-child) {
  padding-bottom: 1rem;
}

.timeline > div:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: -15px;
  width: 2px;
  height: 100%;
  background: var(--color-secondary);
}

.timeline > div:not(:only-child)::after {
  content: '';
  position: absolute;
  top: 0.6rem;
  left: -20px;
  width: 8px;
  height: 8px;
  background: var(--color-secondary);
  border: 2px solid var(--color-background);
  border-radius: 50%;
}

@media print, (min-width: 48em) {
  h3 {
    margin-bottom: inherit;
  }

  .masthead {
    text-align: inherit;
  }

  .masthead img {
    grid-column: leftside;
    grid-row: span 2;
    max-width: 100%;
  }

  .icon-list {
    flex-direction: column;
  }

  .grid-list {
    grid-template-columns: 1fr;
  }
}

@media print {
  .duration {
    display: none;
  }
}
